<!-- pypi license -->
<a href="https://pypi.python.org/pypi/{{ include.pypi }}">
<img src="https://img.shields.io/pypi/l/{{ include.pypi }}.svg" alt="" /></a>
<!-- pypi release -->
<a href="https://pypi.python.org/pypi/{{ include.pypi }}">
<img src="https://img.shields.io/pypi/v/{{ include.pypi }}.svg" alt="" /></a>
<!-- zenodo doi -->
<a href="https://zenodo.org/badge/latestdoi/{{ include.zenodo }}">
<img src="https://zenodo.org/badge/{{ include.zenodo }}.svg" alt="" /></a>
<!-- github stars -->
<a href="https://github.com/juseg/{{ include.pypi }}">
<img src="https://img.shields.io/github/stars/juseg/{{ include.pypi }}.svg?style=social" alt="" /></a>
