<figure>
  <div id="slider" class="beer-slider" data-beer-label="{{ include.label2 }}">
    <img src="{{ include.image2 }}" alt=""/>
    <div class="beer-reveal" data-beer-label="{{ include.label1 }}">
      <img src="{{ include.image1 }}" alt="">
    </div>
  </div>
  <figcaption>{{ include.caption }} Contains modified
    <a href="http://www.copernicus.eu">Copernicus</a> Sentinel data. Processed with
    <a href="https://github.com/juseg/sentinelflow">Sentinelflow</a>
  </figcaption>
</figure>
