<!-- ## HTML HEADER
  This file overrides the theme's head template available at:
  https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/head.html
  The default template includes the link to a feed (even when missing)
  and uses site-wide configuration option site.header_scripts. This template
  allows to include scripts and css only on pages than need them instead. -->

<meta charset="utf-8">

{% include seo.html %}

<!-- ### Default head tags -->
<!-- Fix viewport width on iphones https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<!-- old IE unsupported flexbox fixes -->
<!--[if IE]>
  <style>
    .greedy-nav .site-title {padding-right: 3em;}
    .greedy-nav button {position: absolute; top: 0; right: 0; height: 100%;}
  </style>
<![endif]-->

{% if page.beerslider %}
  <!-- ### Beer slider css (javascript in footer) -->
  <link rel="stylesheet" href="https://unpkg.com/beerslider/dist/BeerSlider.css">
{% endif %}

{% if page.leaflet %}
  <!-- ### Leaflet icemap -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet-fullscreen@1.0.2/dist/leaflet.fullscreen.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.control.min.css">
  <script src="https://unpkg.com/iso8601-js-period@0.2.1/iso8601.js"></script>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-fullscreen@1.0.2/dist/Leaflet.fullscreen.min.js"></script>
  <script src="https://unpkg.com/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.min.js"></script>
{% endif %}
