<figure>
  <div class="juxtapose">
    <img src="https://people.ee.ethz.ch/~juliens/_images/{{ include.image1 }}"
         data-label="{{ include.label1 }}"/>
    <img src="https://people.ee.ethz.ch/~juliens/_images/{{ include.image2 }}"
         data-label="{{ include.label2 }}"/>
  </div>
  <script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
  <link rel="stylesheet" href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css">
  <figcaption>{{ include.caption }} Contains modified
    <a href="http://www.copernicus.eu">Copernicus</a> Sentinel data. Processed with
    <a href="https://github.com/juseg/sentinelflow">Sentinelflow</a>
  </figcaption>
</figure>
